<footer class="footer-distributed">

    <div class="footer-left">

        <h3>AcceptMyCrypto</h3>

        <p class="footer-links">
            <a href="/">Home</a>
            |
            <a href="/cryptos">Cryptos</a>
            |
            <a href="/venues">Venues</a>
        </p>

        <p class="footer-company-name">Copyright &copy; 2018</p>

        <div class="footer-icons">

            <a href="https://github.com/simonnguyen3054/acceptmycrypto"><i class="fa fa-github"></i></a>

        </div>

    </div>

    <div class="footer-right">

        <p>Contact Us</p>

        <form action="contactus/create" method="POST">

            <input type="text" name="email" placeholder="Email" />
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>

        </form>

    </div>

</footer>