<header class="main_h sticky">

    <div class="nav_row">
        <a class="logo" href="#">Bison</a>

        <nav>
            <ul>
                <li><a href="/" class="nav_a">index</a></li>
                <li><a href="/cryptos" class="nav_a">Cryptos</a></li>
                <li><a href="/venues" class="nav_a">Venues</a></li>
            </ul>
        </nav>

    </div>

</header>
