<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>B<span style="color:goldenrod">i</span>son | Accept my Crypto</title>

<link rel="stylesheet" href="/public/assets/css/style.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
