<!-- <a href="/cryptos">Cryptos</a>
<a href="/venues">Venues</a>

 -->
<!-- <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link href='nav.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script> -->

  
<header class="main_h" "sticky">

    <div class="row">
        <a class="logo" href="#">Bison</a>

        <nav>
            <ul>
                <li><a href="/">index</a></li>
                <li><a href="/cryptos">Cryptos</a></li>
                <li><a href="/venues">Venues</a></li>
            </ul>
        </nav>

    </div>

</header>
