<title>Accept My Crypto</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/assets/onts/font-awesome-4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

<link rel="stylesheet" href="/assets/css/footer.css">

<link rel="stylesheet" href="/assets/css/nav.css">

<link rel="stylesheet" href="/assets/css/modal.css">

<link rel="stylesheet" href="/assets/css/snackbar.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
