<header class="main_h sticky">

    <div class="nav_row">
        <a class="logo" href="#">Bison</a>

        <nav>
            <ul>
                <li><a href="/cryptos" class="nav_a">Cryptos</a></li>
                <li><a href="/venues" class="nav_a">Venues</a></li>
                <li>
                    <form class="nav_a" method="POST" action="/cryptos/search">
                        <input type="text" name="crypto_name" placeholder="Search Cryptocurrency">
                        <button class="nav_a">Search</button>
                    </form>
                </li>
            </ul>
        </nav>

    </div>

</header>