.Toolbar {
  height: 45px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.93);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

.Toolbar a {
  color: #000;
  text-decoration: none;
}

.Toolbar a:focus {
  color: #007bff;
  text-decoration: none;
}

.search input:focus {
  color: #000;
}

.nav-left {
  display: flex;
}

.Logo {
  margin-right: 10px;
}

.Search {
  margin-right: 45px;
  border-radius: 5px;
}

.Search input {
  border-radius: 5px;
  border: 1px solid gray;
}

.Search input:focus {
  outline: gray;
}

li {
  display: inline-block;
  margin-left: 15px;
  line-height: 1.5;
}

.nav-left .Search {
  width: 18%;
}

.user-icon-navbar{
  display: flex;
  justify-content: center;
  color: white;
  background-image: linear-gradient(-85deg, #49cdb7, #1ab7db);
  width: 100%;
  /* font-size: 40px; */
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.picture-toggle::after {
  display:none;
}