.replyForm {
    display: none;
}

.parentComment {
    width: 90%;
    border: black solid 1px;
    margin: 5px auto;
    padding: 5px;
    word-wrap: break-word;
}

.childComment {
    width: 95%;
    margin: 5px 0% 5px 5%;
    word-wrap: break-word;
}

#commentForm {
    margin: 5px auto;
    width: 90%;
}

.replyForm {
    width: 95%;
    margin: 5px 0% 5px 5%;
}

textarea {
    width: 100%;
}

.commentDeleted {
    background-color: lightgray;
}

button {
    float: right;
    margin-left: 5px;
    font-size: small;
}

.buttonDiv {
    height: 30px;
}