<head>    
        <% include ../partials/head %>
    </head>
    
    <body>
    
        <header>
            <% include ../partials/header %>
        </header>
    
        <main>
        
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                        <div class="table">
    
                            <div class="row header">
                                <div class="cell">
                                    Crypto Name
                                </div>
                                <div class="cell">
                                    Symbol
                                </div>
                                <div class="cell">
                                    Price
                                </div>
                                <div class="cell">
                                    URL
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="cell" data-title="Crypto">
                                    Bitcoin
                                </div>
                                <div class="cell" data-title="Symbol">
                                    BTC
                                </div>
                                <div class="cell" data-title="Price">
                                    $7,000
                                </div>
                                <div class="cell" data-title="URL">
                                    www.bitcoin.org
                                </div>
                            </div>
    
                        </div>
                </div>
            </div>
        </div>
    
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>
        
        <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    
    </body>
    </html>