<head>
    <% include ../partials/head %>
</head>

<body>


    <header>
        <% include ../partials/header %>
    </header>
    <h1>
        <%= crypto %>
    </h1>
    <main>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table">

                        <div class="row header">
                            <div class="cell">
                                Venues
                            </div>
                            <div class="cell">
                                Description
                            </div>
                            <div class="cell">
                                Cryptos Accepting
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/assets/javascript/modal.js"></script>
    <script src="/assets/javascript/crypto.js"></script>
</body>