/* Simon please add a class to your a tags so that it won't affect other pages */
/* Also it seems that you are not using this anywhere so I commented it out for now */
/* a {
  color: black;
}
a:link {
  text-decoration: none;
} */

.venues-content {
  display: flex;
  box-sizing: border-box;
}

.column {
  height: 100%; /*allows both columns to span the full height of the browser window*/
  display: flex;
}

.right {
  flex-shrink: 0;
}

