.dropdown_notif {
    position: relative;
    display: inline-block;
}
.dropdown_notif .num_notif
{
   position: absolute;
   top: -5px;
   left: -8px;
   padding: 1px;
   width: 15px;;
   height: 15px;
   border-radius: 50%;
   background: #66DAC7;
   color: #fff;
   line-height: 15px;
   font-family: sans-serif;
   text-align: center;
}
.ul_notif {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:25px;
    right:0px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    font-weight:bold;
    position: absolute;
    box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
}
.ul_notif li
{
   list-style: none;
   border-bottom: 1px solid rgba(0, 0, 0, .1);
   /* padding: 8px; */
   /* display: flex; */
}
.ul_notif li .all_notif {
   text-align: center;
   font-size: 10px;
   cursor: pointer;
}
.ul_notif li a {
    color: #000;
    text-decoration: none;
}
.ul_notif :first-child {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.ul_notif li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ul_notif li:hover {
    background-color: #66DAC7;
    color: #fff;
}
.button{
    width:15px;
    height:15px;
    padding:5px;
    border-radius:15px;
    background: #fff;
    box-sizing: border-box;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, .2) */

}